[submodule "SimpleWebsite/_powerup"]
	path = SimpleWebsite/_powerup
	url = git@github.com:AffinityID/PowerUp.git
[submodule "NerdDinner/_powerup"]
	path = NerdDinner/_powerup
	url = git@github.com:AffinityID/PowerUp.git
[submodule "SimpleWebsiteMSBuild/_powerup"]
	path = SimpleWebsiteMSBuild/_powerup
	url = git@github.com:AffinityID/PowerUp.git
