
/NerdDinner/NerdDinner/bin
/NerdDinner/NerdDinner/obj
/NerdDinner/NerdDinner.Tests/bin
/NerdDinner/NerdDinner.Tests/obj
/NerdDinner/_package
/SimpleWebsite/_package
/SimpleWebsiteMSBuild/_package
/SimpleWebsiteMSBuild/SimpleWebsite/bin
/SimpleWebsiteMSBuild/SimpleWebsite/obj